name: Backend image Build and Push

on:
  push:
    branches: [main, dev]

jobs:
  prod:
    name: PROD ENV
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and Push Docker image
        run: |
          docker build -t bibek65/backend-image:stable -t bibek65/backend-image:$(git rev-parse --short "$GITHUB_SHA") .
          docker images
          docker push bibek65/backend-image:stable
          docker push bibek65/backend-image:$(git rev-parse --short "$GITHUB_SHA")

      - name: Commit version increase
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          token: ${{ secrets.PAT_TOKEN }}

      - name: Commit version increase
        run: |
          git config --global user.name 'bibek65'
          git config --global user.email 'bkarna65@gmail.com'
          npm version patch
          git add package.json
          git commit -m "Increase package.json version"
          git push --follow-tags
  dev:
    name: DEV ENV
    runs-on: self-hosted
    if: github.ref == 'refs/heads/dev'
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and Push Docker image
        run: |
          docker build -t bibek65/backend-image:dev -t bibek65/backend-image:$(git rev-parse --short "$GITHUB_SHA") .
          docker images
          docker push bibek65/backend-image:dev
          docker push bibek65/backend-image:$(git rev-parse --short "$GITHUB_SHA")
