name: Backend image Build and Push

on:
  push:
    branches: [main, dev]

jobs:
  prod:
    runs-on: self-hosted

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and Push Docker image
        run: |
          docker build -t bibek65/backend-image:stable -t bibek65/backend-image:$(git rev-parse --short "$GITHUB_SHA") .
          docker images
          docker push bibek65/backend-image:stable
          docker push bibek65/backend-image:$(git rev-parse --short "$GITHUB_SHA")
  dev:
    runs-on: self-hosted
    needs: prod
    name: DEV ENV
    if: github.ref == 'refs/heads/dev'
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and Push Docker image
        run: |
          docker build -t bibek65/backend-image:dev -t bibek65/backend-image:$(git rev-parse --short "$GITHUB_SHA") .
          docker images
          docker push bibek65/backend-image:dev
          docker push bibek65/backend-image:$(git rev-parse --short "$GITHUB_SHA")
